/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
mat-grid-list {
  display: flex;
}

@media (max-width: 450px) {
  .card {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  h2 {
    font-size: 1.5em;
  }
  .h5 {
    margin-right: 120px;
  }
  .socialBtns {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #btn {
    width: 50%;
    margin-right: 129px;
  }
  #fbBtn {
    width: 50%;
    margin-right: 120px;
  }
  #ggBtn,
  #twBtn {
    width: 55%;
    margin-right: 120px;
  }
}
